html, body {
    background: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
  padding: 10px;
}

.schedule-table {
  background-color: #fff;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.schedule-table .heading {
  font-weight: bold;
}

.schedule-row {
  display: flex;
  flex-direction: row;
}

.schedule-row > div {
  font-size: 16px;
  padding: 5px;
}

.schedule-name {
  max-width: 150px;
  width: 25%;
}

.schedule-channel {
  max-width: 200px;
  width: 25%;
}

.schedule-start {
  flex-grow: 1;
  width: 10%;
}

.schedule-days {
  flex-grow: 1;
  width: 30%;
}

.schedule-actions {
  max-width: 100px;
  width: 10%;
}

.schedule-actions a {
  text-decoration: none;
}

.trash-icon {
  background-color: #fff;
  background-image: url(../icon-delete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}

/* table#scheduleTable th,
table#scheduleTable td {
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
} */

/* .item {
  color: darkgray;
  cursor: arrow;
  font-size: 12px;
  padding: 4px;
  white-space: nowrap;
}

.item:hover {
  background-color: white;
  color: black;
} */
.current-source {
  align-content: center;
  background-color: #85c742;
  border: solid 1px #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 1em; */
  padding: 1em;
}

.current-author,
.current-schedule {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 45%;
}

.current-source label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-right: 4px;
  width: 80px;
}

.current-source input {
  font-size: 14px;
  letter-spacing: 0.3;
}

.current-source button {
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.input-row > * {
  text-align: left;
}
.input-row > label {
  min-width: 80px;
  text-align: right;
}

.input-schedule {
  background-color: #fff;
  border: solid 1px #000;
  display: flex;
  flex-direction: row;
}
.input-day {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.input-day label {
  order: 1;
  padding: 1px 3px;
  text-align: center;
  width: auto;
}
.input-day input {
  margin: 4px;
  order: 2;
  text-align: center;
}
