#rumble-routine-bar {
    background: linear-gradient(0.25turn, rgb(81,184,89), rgb(190,232,193), rgb(81,184,89));
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: .6em 1em;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100vw;
    z-index: 10000;
}
