html, body {
    background: lightgray;
    margin: 0;
    padding: 0;
  }
  body {
    padding: 10px;
  }
  .item {
    color: darkgray;
    cursor: arrow;
    font-size: 12px;
    padding: 4px;
    white-space: nowrap;
  }
  .item:hover {
    background-color: white;
    color: black;
  }