html, body {
    background: lightgray;
    margin: 0;
    padding: 0;
}

body {
  padding: 10px;
}

#scheduleTable {
  background-color: #fff;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
}

#scheduleTable .heading {
  font-weight: bold;
}

.schedule-row {
  display: flex;
  flex-direction: row;
}

.schedule-row > div {
  font-size: 16px;
  padding: 5px;
}

.schedule-name {
  max-width: 150px;
  width: 25%;
}

.schedule-creator {
  max-width: 200px;
  width: 25%;
}

.schedule-schedule {
  flex-grow: 2;
  width: 40%;
}

.schedule-actions {
  max-width: 100px;
  width: 10%;
}

/* table#scheduleTable th,
table#scheduleTable td {
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
} */

/* .item {
  color: darkgray;
  cursor: arrow;
  font-size: 12px;
  padding: 4px;
  white-space: nowrap;
}

.item:hover {
  background-color: white;
  color: black;
} */